* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: "";
}
body {
  background-image: url("@/assets/images/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
